<form id="contact-form" action="https://formspree.io/f/{{ site.formspree_id }}" method="POST" class="contact__form grid">
    <div class="contact__inputs grid">
        <div class="contact__content">
            <label for="contact-name" class="contact__label">Name</label>
            <input type="text" name="name" id="contact-name" class="contact__input" placeholder="Tu nombre">
        </div>
        <div class="contact__content">
            <label for="contact-email" class="contact__label">Email *</label>
            <input type="email" name="email" id="contact-email" class="contact__input" placeholder="tu@email.com" required>
        </div>
    </div>
    <div class="contact__content">
        <label for="contact-project" class="contact__label">Project</label>
        <input type="text" name="project" id="contact-project" class="contact__input" placeholder="¿De qué proyecto se trata?">
    </div>
    <div class="contact__content">
        <label for="contact-message" class="contact__label">Message *</label>
        <textarea name="message" id="contact-message" cols="0" rows="7" class="contact__input" placeholder="Cuéntame sobre tu proyecto..." required></textarea>
    </div>
    <div>
        <button type="submit" class="button button--flex">
            Send Message
            <i class="uil uil-message button__icon"></i>
        </button>
    </div>
    <div id="contact-form-status" class="contact__status"></div>
</form>
