.portfolio__container{
    overflow: initial;
}

.portfolio__content{
    padding: 0 1.5rem;
}

.portfolio__img {
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title {
    font-size: $h3-font-size;
    margin-bottom: $mb-0-5;
}

.portfolio__description{
    margin-bottom: $mb-0-75;
}

.portfolio__button:hover .button__icon{
    transform: translateX(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: '' !important;
}

.swiper-portfolio-icon{
    font-size: 2rem;
    color: $first-color;
}

.swiper-button-prev{
    left: -.5rem !important;
}

.swiper-button-next{
    left: -.5rem !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -2.5rem !important;
}

.swiper-pagination-bullet-active{
    background-color: $first-color;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
    outline:none
}