@import 'layout-post';
@import 'layout-header';
@import 'layout-home';
@import 'layout-footer';
@import 'layout-about';
@import 'layout-skills';
@import 'layout-qualification';
@import 'layout-services';
@import 'layout-portfolio';
@import 'layout-projects';
@import 'layout-testimonial';