.services__container{
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.services__content{
    position:relative;
    background-color: $container-color;
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.15);
    transition: .3s;
}

.services__content:hover{
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.15);
}

.services__icon{
    display: block;
    font-size: 1.5rem;
    color: $first-color;
    margin-bottom: $mb-1;
}

.services__title{
    font-size: $h3-font-size;
    margin-bottom: $mb-1;
    font-weight: $font-medium;
}

.services__button{
    cursor: pointer;
    font-size: $small-font-size;
}

.button--small{
    padding: .75rem 1rem;
}

.button--link{
    padding: 0;
    background-color: transparent;
    color: $first-color;
}

.button--link:hover{
    background-color: transparent;
    color: $first-color-alt;
}

.services__button:hover .button__icon{
    transform: translateX(.25rem);
}

.services__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: $z-modal;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.services__modal-content{
    position: relative;
    background-color: $container-color;
    padding: 1.5rem;
    border-radius: .5rem;
}

.services__modal-services{
    row-gap: 1rem;
}

.services__modal-service{
    display: flex;
}

.services__modal-title{
    font-size: $h3-font-size;
    font-weight: $font-medium;
    margin-bottom: $mb-1-5;
}

.services__modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: $first-color;
    cursor: pointer;
}

.services__modal-icon{
    color: $first-color;
    margin-right: mb-0-25;
}

.active-modal {
    opacity: 1;
    visibility: visible;
}