---
layout: default
---

<section class="about section" id="about">
    <h2 class="section__title">About me</h2>
    <span class="section__subtitle">Quien soy</span>
    <div class="about__container container grid">
        <img src="assets/img/perfil.jpg" alt="" class="about__img"/>
        <div class="about__data">
            <p class="about__description">
                Ingeniero con más de 20 años desarrollando software e implementando sistemas distribuidos. Dirijo equipos técnicos bajo arquitecturas en la nube, aplicando atributos de calidad y patrones de diseño para construir sistemas de alta concurrencia y alto rendimiento.
            </p>
            <div class="about__info">
                <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__into-name">Years <br> experience</span>
                </div>
                <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__into-name">completed <br> project</span>
                </div>
                <div>
                    <span class="about__info-title">05+</span>
                    <span class="about__into-name">Companies <br> worker</span>
                </div>
            </div>


        </div>

    </div>
    {{ content }}
</section>