---
layout: default
---

<section class="about section" id="about">
    <h2 class="section__title">About me</h2>
    <span class="section__subtitle">Quien soy</span>
    <div class="about__container container grid">
        <img src="assets/img/perfil.jpg" alt="" class="about__img"/>
        <div class="about__data">
            <p class="about__description">
                Soy una ingeniero mecatronico apasionado por la tecnologia 
            </p>
            <div class="class__info">
                <div>
                    <span class="about__info-title">08+</span>
                    <span class="about__into-name">Years <br> experience</span>
                </div>
                <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__into-name">completed <br> project</span>
                </div>
                <div>
                    <span class="about__info-title">05+</span>
                    <span class="about__into-name">Companies <br> worker</span>
                </div>
            </div>

            <div class="about__buttons">
                <a download="" href="assets/pdf/carloscarrillo.pdf" class="button button--flex">
                    DOWNLOAD CV<i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>

    </div>
    {{ content }}
</section>