---
layout: default
---
<section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in touch</span>

    <div class="contact__container container grid">
        <div class="contact__info-col">
            <div class="contact__information">
                <i class="uil uil-envelope contact__icon"></i>
                <div>
                    <h3 class="contact__title">Email</h3>
                    <span class="contact__subtitle">carlos.carrillo.carrillo@hotmail.com</span>
                </div>
            </div>

            <div class="contact__information">
                <i class="uil uil-linkedin-alt contact__icon"></i>
                <div>
                    <h3 class="contact__title">LinkedIn</h3>
                    <span class="contact__subtitle">carlos-carrillo-bb8220185</span>
                </div>
            </div>

            <div class="contact__information">
                <i class="uil uil-map-marker contact__icon"></i>
                <div>
                    <h3 class="contact__title">Location</h3>
                    <span class="contact__subtitle">Colombia - Pereira</span>
                </div>
            </div>
        </div>

        {% include contact-form.html %}
    </div>
</section>
