---
layout: default
---

<div class="home">
  <section class="home section" id="home">
    <div class="home__container container grid">
      <div class="home__content grid">
        <div class="home__social">
          <a href="https://www.linkedin.com" target="_blank" class="home__social-icon">
            <i class="uil uil-linkedin-alt"></i>
          </a>
          <a href="https://www.dribbble.com" target="_blank" class="home__social-icon">
            <i class="uil uil-dribbble"></i>
          </a>
          <a href="https://www.github.com"target="_blank"  class="home__social-icon">
            <i class="uil uil-github-alt"></i> 
          </a>
        </div>
        <div class="home_img">
          <svg class="home__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0">             
             <path stroke="#000" id="svg_1" d="m49.39043,28.57998l711.99957,0l0,403.99991l-356.00002,101.00009l-355.99995,-101.00009l0.00041,-403.99991z" fill="#000000"/>
            </mask>
            <g mask="url(#mask0)">
              <path stroke="#000" id="svg_1" d="m49.39043,28.57998l711.99957,0l0,403.99991l-356.00002,101.00009l-355.99995,-101.00009l0.00041,-403.99991z" fill="#000000"/>
              <image class="home__blob-img" xlink:href="assets/img/perfil.png" />
            </g>
           </svg>
        </div>
        
        <div class="home__data">
          <h1 class="home__title">Hola, soy Carlos Carrillo</h1>
          <h3 class="home__subtitle">Arquitecto de sofware</h3>
          <p class="home__description">Ingeniero senior con mas de 20 años de experiencia en la industria del software</p>
          <a href="contact" class="button button--flex">
            Contactame<i class="uil uil-message button__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  {{ content }}

  {% assign posts = site.posts %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="box home-box">
      <h1>Carlos Carrillo</h1>
      <div class="post-list">
        {%- for post in posts -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            <h3>{{ post.title | escape }}</h3>
          </a>
        {%- endfor -%}
      </div>
    </div>

  {%- endif -%}

</div>
