---
layout: default
---

<div class="home">
  <section class="home section" id="home">
    <div class="home__container container grid">
      <div class="home__content grid">
        <div class="home__social">
          <a href="https://www.linkedin.com" class="home__social-icon">
            <i class="uil uil-linkedin-alt"></i>
          </a>
          <a href="https://www.dribbble.com" class="home__social-icon">
            <i class="uil uil-dribbble"></i>
          </a>
          <a href="https://www.github.com" class="home__social-icon">
            <i class="uil uil-github-alt"></i> 
          </a>
        </div>
      </div>
    </div>
  </section>
  {{ content }}

  {% assign posts = site.posts %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="box home-box">
      <h1>Carlos Carrillo</h1>
      <div class="post-list">
        {%- for post in posts -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            <h3>{{ post.title | escape }}</h3>
          </a>
        {%- endfor -%}
      </div>
    </div>

  {%- endif -%}

</div>
