---
layout: default
---

<section class="qualification section" id="qualification">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My perfonal journey</span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active" data-target='#education'>
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Education
            </div>

            <div class="qualification__button button--flex" data-target="#work">
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                Work
            </div>
        </div>
        <div class="qualification__sections">
            <div class="qualification__content qualification__active" data-content id="education">
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Ingeniero mecatronico</h3>
                        <span class="qualification__subtitle">UTP - Colombia</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2005-2010
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Tecnologo mecatronico</h3>
                        <span class="qualification__subtitle">UTP - Colombia</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2005-2008
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Tecnico mecatronico</h3>
                        <span class="qualification__subtitle">UTP - Colombia</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2005-2007
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Tecnologo mecatronico</h3>
                        <span class="qualification__subtitle">UTP - Colombia</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2005-2007
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                    </div>
                </div>
            </div>

            <div class="qualification__content" data-content id="work">
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Software engineer</h3>
                        <span class="qualification__subtitle">Microsoft</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2016-2018
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Frontend Developer</h3>
                        <span class="qualification__subtitle">Apple INC</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2018-2020
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">UI Designer</h3>
                        <span class="qualification__subtitle">Figma</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2005-2007
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                    </div>
                </div>

            
            </div>
        </div>
        
    </div>
    {{ content }}
</section>